<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.lntu.mapper.MenuMapper">
  <select id="getMenus" resultType="cn.edu.lntu.domain.Menu">
  	select * from menu where menuRight like concat('%',#{menuRight},'%')
  </select>
</mapper>
